SETLIST_FM_API_SECRET="you need to set the Setlist FM API secret"
SPOTIFY_CLIENT_ID="you need to set the Spotify Client ID"
SPOTIFY_CLIENT_SECRET="you need to set the Spotify Client Secret"
APPLE_MUSIC_KEY_ID="you need to set the Apple Music Key ID"
APPLE_MUSIC_PRIVATE_KEY="you need to set the Apple Music private key (.p8 file contents)"
