---
http_interactions:
- request:
    method: get
    uri: http://api.setlist.fm/rest/0.1/search/setlists.json?artistName=modern%2Bbaseball
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application
      X-Upstream-Addr:
      - 127.0.0.1:8084
    body:
      encoding: ASCII-8BIT
      string: '{"setlists":{"@itemsPerPage":"20","@page":"1","@total":"180","setlist":[{"@eventDate":"25-11-2015","@id":"23f2b0a7","@lastUpdated":"2015-11-25T19:04:44.000+0000","@tour":"2015
        Headliner Tour","@versionId":"1bba2560","artist":{"@disambiguation":"","@mbid":"e3513b4f-2a13-45f5-8ead-e79b1af0bf68","@name":"Modern
        Baseball","@sortName":"Modern Baseball","@tmid":"1770510","url":"http:\/\/www.setlist.fm\/setlists\/modern-baseball-43daebe3.html"},"venue":{"@id":"3d5819f","@name":"Gabe''s","city":{"@id":"4862034","@name":"Iowa
        City","@state":"Iowa","@stateCode":"IA","coords":{"@lat":"41.6611277","@long":"-91.5301683"},"country":{"@code":"US","@name":"United
        States"}},"url":"http:\/\/www.setlist.fm\/venue\/gabes-iowa-city-ia-usa-3d5819f.html"},"sets":"","url":"http:\/\/www.setlist.fm\/setlist\/modern-baseball\/2015\/gabes-iowa-city-ia-23f2b0a7.html"},{"@eventDate":"24-11-2015","@id":"33f2b4a5","@lastUpdated":"2015-11-25T07:41:41.000+0000","@tour":"2015
        Headliner Tour","@versionId":"53ba2f4d","artist":{"@disambiguation":"","@mbid":"e3513b4f-2a13-45f5-8ead-e79b1af0bf68","@name":"Modern
        Baseball","@sortName":"Modern Baseball","@tmid":"1770510","url":"http:\/\/www.setlist.fm\/setlists\/modern-baseball-43daebe3.html"},"venue":{"@id":"bd6191a","@name":"The
        Firebird","city":{"@id":"4407066","@name":"St. Louis","@state":"Missouri","@stateCode":"MO","coords":{"@lat":"38.6272733","@long":"-90.1978889"},"country":{"@code":"US","@name":"United
        States"}},"url":"http:\/\/www.setlist.fm\/venue\/the-firebird-st-louis-mo-usa-bd6191a.html"},"sets":{"set":[{"song":[{"@name":"The
        Weekend"},{"@name":"Alpha Kappa Fall of Troy The Movie Part Deux"},{"@name":"Going
        to Bed Now"},{"@name":"Re-Done"},{"@name":"The Thrash Particle"},{"@name":"Two
        Good Things"},{"@name":"Re-Do"},{"@name":"Tears Over Beers"},{"@name":"Fine,
        Great"},{"@name":"Broken Cash Machine"},{"@name":"Apartment"},{"@name":"Rock
        Bottom"},{"@name":"Your Graduation"}]},{"@encore":"1","song":{"@name":"Mr.Brightside","cover":{"@disambiguation":"American
        alt. rock","@mbid":"95e1ead9-4d31-4808-a7ac-32c3614c116b","@name":"The Killers","@sortName":"Killers,
        The","@tmid":"924503","url":"http:\/\/www.setlist.fm\/setlists\/the-killers-23d6e097.html"}}}]},"url":"http:\/\/www.setlist.fm\/setlist\/modern-baseball\/2015\/the-firebird-st-louis-mo-33f2b4a5.html"},{"@eventDate":"22-11-2015","@id":"3f54187","@lastUpdated":"2015-11-22T18:53:40.000+0000","@tour":"2015
        Headliner Tour","@versionId":"3bad933","a[...]
