---
http_interactions:
- request:
    method: get
    uri: http://api.setlist.fm/rest/0.1/search/setlists.json?artistName=modest%20mouse
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application
      X-Upstream-Addr:
      - 52.4.149.202:8084
    body:
      encoding: ASCII-8BIT
      string: '{"setlists":{"@itemsPerPage":"20","@page":"1","@total":"781","setlist":[{"@eventDate":"22-10-2015","@id":"3f58d8b","@lastUpdated":"2015-10-23T19:41:44.000+0000","@tour":"Strangers
        to Ourselves","@versionId":"33bcd0a1","artist":{"@disambiguation":"","@mbid":"a96ac800-bfcb-412a-8a63-0a98df600700","@name":"Modest
        Mouse","@sortName":"Modest Mouse","@tmid":"781346","url":"http:\/\/www.setlist.fm\/setlists\/modest-mouse-73d6ae69.html"},"venue":{"@id":"53d483fd","@name":"The
        Space at Westbury","city":{"@id":"5144040","@name":"Westbury","@state":"New
        York","@stateCode":"NY","coords":{"@lat":"40.7556561","@long":"-73.5876273"},"country":{"@code":"US","@name":"United
        States"}},"url":"http:\/\/www.setlist.fm\/venue\/the-space-at-westbury-westbury-ny-usa-53d483fd.html"},"sets":{"set":[{"song":[{"@name":"Strangers
        to Ourselves"},{"@name":"A Different City","info":"As \"A Different Suburb\"
        on the setlist"},{"@name":"Ocean Breathes Salty"},{"@name":"Missed the Boat"},{"@name":"Lampshades
        on Fire"},{"@name":"Broke"},{"@name":"Bukowski"},{"@name":"King Rat","info":"shortened"},{"@name":"The
        Tortoise and the Tourist"},{"@name":"Dashboard"},{"@name":"Night on the Sun"},{"@name":"Wicked
        Campaign"},{"@name":"Float On"},{"@name":"Doin'' the Cockroach"},{"@name":"Sleepwalking"},{"@name":"Fly
        Trapped in a Jar"}]},{"@encore":[...]
